<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Type of doctor:</strong>
  <%= @profile.type_of_doctor %>
</p>

<p>
  <strong>Licence no:</strong>
  <%= @profile.licence_no %>
</p>

<p>
  <strong>Password:</strong>
  <%= @profile.password %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
