<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Region:</strong>
  <%= @listing.region %>
</p>

<p>
  <strong>Type of practice:</strong>
  <%= @listing.type_of_practice %>
</p>

<p>
  <strong>Average annual collections:</strong>
  <%= @listing.average_annual_collections %>
</p>

<p>
  <strong>Average annual visits:</strong>
  <%= @listing.average_annual_visits %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @listing.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @listing.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Low:</strong>
  <%= @listing.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @listing.high %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
