<%= form_for(@public_info) do |f| %>
  <% if @public_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_info.errors.count, "error") %> prohibited this public_info from being saved:</h2>

      <ul>
      <% @public_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :practice_name %><br>
    <%= f.text_field :practice_name %>
  </div>
  <div class="field">
    <%= f.label :avg_annual_collection %><br>
    <%= f.text_field :avg_annual_collection %>
  </div>
  <div class="field">
    <%= f.label :avg_annual_visits %><br>
    <%= f.number_field :avg_annual_visits %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
